apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-data
  namespace: evidra-demo-gitops
  labels:
    app.kubernetes.io/name: gitea
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
