apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: evidra
  labels:
    app.kubernetes.io/name: evidra
spec:
  to:
    kind: Service
    name: evidra
  port:
    targetPort: http
  tls:
    termination: edge
